*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.idea
.cache
.project
.settings
.tmproj
.nvmrc
sftp-config.json
Thumbs.db

# Project files
/labs/
/5-express/node_modules/
/5-express/package-lock.json
/6-websockets/node_modules/
/6-websockets/package-lock.json
